<h1>All List</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<h3><%= link_to "Create your list", new_list_path %></h3>
<%= cl_image_tag("kzixiffdhhhxi3m47x1h", width: 400, height: 300, crop: :fill) %>
