<div class="navbar-container">

  <div class="navbar-item"><%= link_to "Home", lists_path %></div>
  <div class="navbar-item"><%= link_to "New List", new_list_path %></div>
  <div class="navbar-item"><%= link_to "Films", lists_path %></div>
  <div class="navbar-item"><%= link_to "Contact", lists_path %></div>

</div>
