.card-small {
  display:  flex;
  flex-direction: wrap;

  .card-small-information {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;


    .card-small-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 178, 178);

    a {
      color: rgb(69, 77, 37);


    }


    }
  }







}
