.navbar {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;

}

.navbar-link {
  display: flex;
  flex-direction: row;

}

.navbar-item {
  margin: 5px;
}

.logo {

  width: 120px;
  height: 80px;
  border-radius: 3px;
  margin-left: 10px;

}

.navbar-item {
  margin: 5px;
  margin-left: 20px;
  color: black;
  a {
    color: black;
    font-style: none;
  }
}
